$arimo: 'Arimo', sans-serif;
$fjalla: 'Fjalla One', sans-serif;
$anton: 'Anton', sans-serif;
$archivo: 'Archivo Black', sans-serif;
$Y: #FFB400;
$W: #FFFBE0;
$B: #2994B2;
$G: #474744;
$sand: #DFD1BE;


.tasks {
	width: 100%;

	.tasks--header {
		position: relative;
		i {
			position: absolute;
			top: 12px;
			right: 15px;
			z-index: 10;
			 -webkit-user-select: none;  /* Chrome all / Safari all */
			  -moz-user-select: none;     /* Firefox all */
			  -ms-user-select: none;      /* IE 10+ */
			  user-select: none;    
			&:hover {
				cursor: pointer;
			}

			&.light {
				color: $sand;
			}

		}

		.tasks--title {
			margin-top: 0px;
			color: #333;
		}
	}
}