$arimo: 'Arimo', sans-serif;
$fjalla: 'Fjalla One', sans-serif;
$anton: 'Anton', sans-serif;
$archivo: 'Archivo Black', sans-serif;
$Y: #FFB400;
$W: #FFFBE0;
$B: #2994B2;
$G: #474744;
$sand: #DFD1BE;


body {
	font-family: $arimo;
	background: $sand;
}

#calendar {
	padding: 10px;
	display: block;
	position: relative;
	background: #333;
	color: $sand;
	width: 300px;

	> controls {
		position: absolute;
		left: 0%;
		width: calc(100% - 30px);
		display: flex !important;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: flex-end;
		top: 12px;
		padding: 15px;
		display: block;

		span {
			padding-right: 15px;
			font-size: 20px;
			&:hover {
				cursor: pointer;
			}
		}

	}

	button {
		background: transparent;
		box-shadow: none;
		border: 0px;

		> i {
			color: $sand;
		}
	}

	.header {
		.month {
			padding: 6px 0px 0px 15px;
			font-size: 35px;
			text-transform: uppercase;
			> span.year {
				font-size: 20px;
				margin-left: 5px;
			}
			display: block;
			text-align: left;
		}
	}

	.weekdays {
		margin: 25px 0px;
		ul {
			padding-left: 0px;
			display: flex;
			flex-direction: row;
			li {
				width: 14%;
				display: inline-block;
				flex-grow: 7;
				text-align: center;
			}
		}
	}

	.week-container {
		min-height: 150px;
		> div {
			display: flex;
			flex-direction: row;
			margin: 20px 5px;
			> .day {
				width: 14%;
				text-align: center;
				flex-grow: 7;
				&.current-date {
					position: relative;
					&:after {
						position: absolute;
						content: '';
						width: 25px;
						height: 1px;
						bottom: -2px;
						background: $sand;
						left: 50%;
						transform: translate(-50%);
					}
				}
			}
		}
	}



}





